.geral{
    text-align: center;
   display: flex;
    flex-direction: column;
}

.titulo{
    height: 75px;


}

.cadastrar2{
    text-decoration: none;
    border-radius: 5px;
    background-color: #1C1B22;
    color: #C7C7C7;
    font-size:18px;
    font-weight: bold;
    padding:1vh;
    margin-top: 15px;
}

.cadastrar2:hover{
    background-color: #4B4959;
    color: #ffffff;
}