.icones{
    text-decoration: none; 
}

.delete {
    color: #b40303;
}
.delete:hover {
    color:#C7C7C7;
}

.edit {
    color:#C7C7C7;
}
.edit:hover {
    color:#b40303;
}

.imagem{
    width:70px;
    height:70px;
}

.btn{
    border-radius: 5px;
    height: auto;
    width: 150px;
    color: #C7C7C7;
    font-size:18px;
    font-weight: bold; 
    border: 0px;
    background-color: #1C1B22;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}
.btn:hover{
    color: #ffffff;
    background-color: #4B4959;
}

.titulo{
    font-size: 35px;
    margin:0px;
    font-weight: bold;
}

table, th, td {
    border: 5px solid #36373B;
    border-collapse: collapse;
    padding: 8px;
    color: #ddd;
    border-radius: 5px;
    margin-left:1.5rem;
}

td {
    background-color: #3b4044;
    color: #ddd;
}

tr:nth-child(even){
    background-color: #5C636A;
}

.nomeProd{
    width: 250px;
}

.marcaProd{
    width: 150px;
}

.tipoProd{
    width: 85px;
}

.subT{
    font-weight: bold;
    font-size: 22px;
    border: none;
}

.tab{
 margin-bottom: 25px;
}

.numeroProd{
    width: 85px;
}

.selectBtn p{
    font-weight: bold;
    user-select: none;

}
.selectBtn:hover{
    cursor:pointer;
    background-color: #7D8790;
}